image: python:3.7-stretch

stages:
- test
- pages
- publish

test:
  stage: test
  script:
  - pip install -r dev-requirements.txt
  - tox

pages:
  stage: publish
  only: [master]
  script:
  - pip install -r dev-requirements.txt
  - tox -e docs
  artifacts:
    paths:
    - public

publish:
  only: [tags]
  stage: publish
  script:
  - pip install -r dev-requirements.txt
  - tox
  - twine upload -u ${PYPI_USER} -p ${PYPI_PASSWORD} .tox/dist/*
