[build-system]
requires = [ "poetry>=0.12",]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "test"
version = "0.0.18"
description = "Python bindings for your timewarrior database"
authors = [ "Tjaart van der Walt <tjaart@tjaart.org>",]
license = "MIT"
readme = "README.md"
repository = "https://gitlab.com/tjaart/python-timew"
keywords = [ "timewarrior",]
classifiers = [ "Development Status :: 4 - Beta", "Intended Audience :: Developers", "Operating System :: POSIX",]

[tool.poetry.dependencies]
python = "^3.6"
python-dateutil = "^2.8"

[tool.poetry.dev-dependencies]
jedi = "^0.13.3"
pytest = "^4.3"
pytest-cov = "^2.6"
tox = "^3.7"
toml = "^0.10.0"
pycodestyle = "^2.5"
semver = "^2.8"
